<!-- parte do ios -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HELLO WORLD
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- parte do android -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HELLO WORLD</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- pagina principal -->
  <div id="container">
    <!-- cria um input no app-->
    <!-- placeholder = texto transparente  no input -->
    <!-- [(ngModel)] = modelo que salva oque ta escrito -->
    <ion-input placeholder="escreva aqui"[(ngModel)]="escreva" name="escreva"></ion-input>

    <!-- botão do ionic -->
    <!-- (click) = comando ao apertar-->
    <ion-button (click)="escreval()">APERTA</ion-button>
    <!-- mostra o resultado de uma variavel-->
    <p>{{ resultado }}</p>
  </div>

</ion-content>
