@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
    font-size: 100%;
    margin: 0;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;

    background-color: #0077B5;
}

.cabecalho_menu {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;

    color: #F2F2F2;
    display: flex;
    gap: 16px;
}

.principal_sobre {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}