
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ANDROID IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IOS IMC</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical='top' horizontal='end' slot='fixed'>
    <ion-fab-button routerLink='/historico' color='dark'>
      <ion-icon name="time"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form [formGroup]="formG" (submit)="submit()" >
    <ion-select [(ngModel)]="sexo_opt" formControlName="sexo">
      <ion-select-option value="m">Masculino</ion-select-option>
      <ion-select-option value="f">Feminino</ion-select-option>
    </ion-select>
    
    <ion-item lines="full">
      <ion-label position='floating'>Altura:</ion-label>
      <ion-input [(ngModel)] = 'altura' formControlName="altura" placeholder="digite a altura"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position='floating'>Peso: </ion-label>
      <ion-input [(ngModel)] = 'peso' formControlName="peso" placeholder = 'digite o peso'></ion-input>
    </ion-item>


    <ion-button shape="block" (click) = 'imcc()' color = 'dark' type="submit">IMC</ion-button>
    <ion-img id="imagem" src= {{imagem}}></ion-img>
  </form>

</ion-content>
