<ion-header [translucent]="true" mode="md">

  <ion-toolbar class="toolbar" mode="ios">
    <ion-title size="large">
      Contatos
    </ion-title>  
  </ion-toolbar>

  <ion-toolbar mode="ios">
    <ion-searchbar (ionChange)="handleChange($event)" animated='true' show-clear-button="always" placeholder="Procurar contato" color="tertiary"></ion-searchbar>
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">
  <!----------------------------- botão de adicionar ----------------->
  <ion-fab vertical='bottom' horizontal='end' slot='fixed'>
    <ion-fab-button routerLink='/edit-contatos/edit' color='tertiary'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!----------------------------- todos os contatos ----------------->

  <ion-item *ngFor='let mostrar of mostrar' routerLink='/edit-contatos/{{ mostrar.id.value }}' lines='full' mode="ios" class="todosContatos">
    <ion-avatar>
      <img src="assets/images/user.png" alt="user">
    </ion-avatar>
    <ion-label class="label_nome"> {{mostrar.nome}} </ion-label>

  </ion-item>

</ion-content>

