<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- titulo aba principal(home)-->
    <ion-title>
      <ion-icon name="person"></ion-icon>
      Contatos
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- titulo aba principal(home) IOS-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Contatos
      </ion-title>  
    </ion-toolbar>
  </ion-header>
  <!----------------------------- botão de adicionar ----------------->
  <ion-fab vertical='bottom' horizontal='end' slot='fixed'>
    <ion-fab-button routerLink='/edit-contatos/-1' color='success'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!----------------------------- todos os contatos ----------------->
  <ion-searchbar animated='true' show-clear-button="always" placeholder="Procurar contato" color="medium"></ion-searchbar>

  <ion-item *ngFor='let mostrar of mostrar' routerLink='/edit-contatos/{{ mostrar.id }}' lines='full'>
    <ion-icon slot='start' name="person-circle"></ion-icon>
    <ion-label> {{mostrar.nome}} </ion-label>
  </ion-item>

</ion-content>

