<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <ion-back-button Href=""></ion-back-button>
    </ion-buttons>

    <ion-title> 
        {{dados.nome}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- informações do contato -->
  <div *ngIf='this.janela'>
    <!------------------------  numero de telefone ----------------------->
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
    </ion-avatar>
    <ion-item lines='full'>
      <ion-label>
        <h2>{{dados.num}}</h2> 
        <p>celular</p>
      </ion-label>
      <ion-button fill='clear' color='success'><ion-icon name="call"></ion-icon></ion-button>
      <ion-button fill='clear' color=''><ion-icon name="mail"></ion-icon></ion-button>
    </ion-item>
    <!-------------------------- whatsapp  -------------------------->
      <ion-button fill='clear' expand='block' color='success'>
        <ion-label slot='start'>Whatsapp</ion-label>
        <ion-icon slot='end' name="logo-whatsapp"></ion-icon>
      </ion-button>
    <!-------------------------- email comercial -------------------------->
    <ion-item lines='full'>
      <ion-label>
        <h2>{{dados.email}}</h2>
        <p>comercial</p>
      </ion-label>
    </ion-item>
    <!----------------------- buttons favorito e editar --------------------->
    <ion-item lines='full'>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Favorito</ion-label>
    <ion-button fill='clear' color='dark' slot='end' (click)='editar()'>
      <ion-icon name="create" slot="start"></ion-icon>
      Editar
    </ion-button>
    </ion-item>
  </div>
  <!---------------------- modo de edição ----------------->
  <form *ngIf='!this.janela'>
    <ion-input placeholder="Nome" [(ngModel)]='dados.nome' name="nome"></ion-input>
    <ion-input placeholder='Numero' [(ngModel)]='dados.num' name="num"></ion-input>
    <ion-input placeholder='Email' [(ngModel)]='dados.email' name="email"></ion-input>
    <ion-button (click)='mostrar()' routerLink='/home' >Salvar  dados</ion-button>

    <ion-item *ngIf='!this.delete'>
      <ion-button fill='clear' color='danger' (click)='deletar_id()' routerLink='/home' >
        Excluir este contato
      </ion-button>
    </ion-item>
  </form>

</ion-content>
