<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <ion-back-button Href="" color="tertiary"></ion-back-button>
    </ion-buttons>
    <!------------------------ salvar botao ------------------------->
    <ion-button *ngIf="!this.janela" slot="end" (click)="submit()" fill="clear">
      <ion-icon name="checkmark" color="tertiary"></ion-icon>
    </ion-button>
  

  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- informações do contato -->

  <div *ngIf='this.janela'>
    <!------------------------  numero de telefone mostrar ----------------------->
    <div class='nome_avatar'>
      <img alt="you" src="assets/images/user.png"/>

      <h3 class="nome_sobrenome">
        {{contato.nome}}

        {{contato.sobrenome}}
      </h3>

    </div>

    <ion-item lines='full'>
      <ion-label>
        <h2>{{contato.num}}</h2> 
        <p>{{contato.tipo_num}}</p>
      </ion-label>

      <ion-button fill='clear' color='success'><ion-icon name="call"></ion-icon></ion-button>
      <ion-button fill='clear' color=''><ion-icon name="mail"></ion-icon></ion-button>

    </ion-item>
    <!-------------------------- email comercial mostrar -------------------------->
    <ion-item lines='none' *ngIf="(contato.email)">
      <ion-icon name="mail-outline" slot="start"></ion-icon>

      <ion-label>
        <h2>{{contato.email}}</h2>
      </ion-label>

    </ion-item>
    <!----------------------- buttons favorito e editar  mostrar --------------------->
    <ion-item class='fav_edit'  lines='none'>
      <ion-button fill='clear' color='dark' slot='start'>
        <ion-icon name="heart-dislike-outline" slot="start"></ion-icon> Favoritar
      </ion-button>
      <ion-button fill='clear' color='dark' slot='end' (click)='editar()'>
        <ion-icon name="create" slot="start"></ion-icon> Editar
      </ion-button>
    </ion-item>
  </div>

  <!---------------------- modo de edição ----------------->
  <form *ngIf='!this.janela' #form='ngForm' [formGroup]='contatoForm' class="formulario">
    <div class="info">
      <img class='avatar' src="assets/images/avatar.png" alt="user">
  
      <!---------------------- nome e sobrenome imput ------------------>
      <ion-input class='inputs' placeholder="Digite seu nome" [(ngModel)]='contato.nome'type='text' formControlName="nome"></ion-input>

      <ion-input class='inputs' placeholder="Digite seu sobrenome" [(ngModel)]='contato.sobrenome' type='text' formControlName="sobrenome"></ion-input>

      <!---------------------- numero e tipo -------------------------->
      <ion-item class='inputs'>

        <ion-select placeholder="telefone" slot='start' [(ngModel)]='contato.tipo_num' formControlName='tipo_num'>
          <ion-select-option value='celular'>celular</ion-select-option>
          <ion-select-option value='casa'>casa</ion-select-option>
          <ion-select-option value='trabalho'>trabalho</ion-select-option>
        </ion-select>

        <ion-input simpleMask='(999) 9 9999-9999' [clearIfNotMatch]="true" placeholder='Numero' 
        [(ngModel)]='contato.num' type='text' formControlName="num"></ion-input>

      </ion-item>

      <!------------------------ email input -------------------------->
      <ion-input class='inputs' placeholder='Email' [(ngModel)]='contato.email' type='text' formControlName="email"></ion-input>
    </div>

    <!------------------------ excluir contato ---------------------->
    
    <ion-item *ngIf='!this.delete' lines='full'>
      <ion-button fill='clear' color='danger' (click)='Excluir_contato()'>
        Excluir este contato
      </ion-button>
    </ion-item>

  </form>

</ion-content>
