<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <ion-back-button Href=""></ion-back-button>
    </ion-buttons>

    <ion-title>detalhes-produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical='top' horizontal='end' slot='fixed' edge="true">
    <ion-fab-button color='danger' (click)='RemoverProdu()' routerLink='/listagem-produtos'>
      <ion-icon name='trash-outline'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf='!this.altera'>
    <ion-item>{{dadoseleciona.id}}</ion-item>
    <ion-item>{{dadoseleciona.nome}}</ion-item>
    <ion-item>{{dadoseleciona.valor}}</ion-item>
    <ion-button shape="block" (click)='Editar()'>Alterar dados</ion-button>
  </div>

  <form *ngIf='this.altera'>
    <ion-input placeholder="Nome" [(ngModel)]='dadoseleciona.nome' name="nome"></ion-input>
    <ion-input placeholder='Valor' [(ngModel)]='dadoseleciona.valor' name="valor"></ion-input>
    <ion-button shape="block" (click)='encerrarEdicao()' routerLink='/listagem-produtos' >Salvar dados</ion-button>
  </form>
  

</ion-content>
